<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/basicStyles.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/headerResponsive.css">
    <link rel="stylesheet" href="/styles/studentPortal.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/bannerResponse.css">
    <title>Student Portal</title>
</head>

<body>
    <div class="onOrOff">
        <img src="/assets/images/icons8-no-connection.gif" alt="./assets/images/icons8-no-connection.gif">
        <img src="/assets/images/icons8-online.gif" alt="./assets/images/icons8-online.gif">
        <p>We are online</p>
    </div>
    <header>
        <div class="hamberg-menu">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
        <div class="banner">
            <div class="left">
                <img src="/assets/images/aot-logo.webp" loading="lazy" alt="Error">
            </div>
            <div class="middle">
                <h1>ACADEMY OF TECHNOLOGY</h1>
                <span>...translate your vision into reality</span>
            </div>
        </div>

    </header>
    <hr>
    <main>
        <div class="section__title">
            <div class="logo">
                <a href="/index.html"><img width="32" height="32" src="https://img.icons8.com/windows/32/home.png"
                        alt="home" /></a>
            </div>
            <h1 id="heading">Student Portal</h1>
        </div>
        <div class="first">
            <form action="">

                <div class="info">
                    <label for="nam">Student Name : </label>
                    <input type="text" name="" id="nam">
                </div>

                <div class="info">
                    <label for="roll">Student Roll : </label>
                    <input type="number" name="" id="roll">
                </div>
                
                <div class="info">
                    <label for="email">Student Email : </label>
                    <input type="email" name="" id="email">
                </div>
                
                <div class="info">
                    <label for="clgemail">College Email : </label>
                    <input type="email" name="" id="clgemail">
                </div>
                
                <div class="info">
                    <label for="gurdname">Guardian Name : </label>
                    <input type="text" name="" id="gurdname">
                </div>
                
                <div class="info">
                    <label for="gurdno">Guardian Contact No : </label>
                    <input type="number" name="" id="gurdno">
                </div>
                
                <div class="info">
                    <label for="lcgurdnam">Local Guardian Name : </label>
                    <input type="text" name="" id="lcgurdnam">
                </div>
                
                <div class="info">
                    <label for="lcgurdno">Local Guardian Contact No : </label>
                    <input type="number" name="" id="lcgurdno">
                </div>
                
                <div class="info">
                    <label for="address">Address : </label>
                    <input type="text" name="" id="address">
                </div>
                
                <div class="info">
                    <label for="mp">Class 10 marks : </label>
                    <input type="number" name="" id="mp">
                </div>
                
                <div class="info">
                    <label for="hs">Class 12 marks : </label>
                    <input type="number" name="" id="hs">
                </div>
                
                <div class="info">
                    <label for="sem1">Give ODD (1st) Semester SGPA : </label>
                    <input type="number" name="" id="sem1">
                </div>
                
                <div class="info">
                    <label for="sem2">Give EVEN (2nd) Semester SGPA : </label>
                    <input type="number" name="" id="sem2">
                </div>
                
                <div class="info">
                    <label for="sem3">Give ODD (3rd) Semester SGPA : </label>
                    <input type="number" name="" id="sem3">
                </div>
                
                <div class="info">
                    <label for="sem4">Give EVEN (4th) Semester SGPA : </label>
                    <input type="number" name="" id="sem4">
                </div>
                
                <div class="info">
                    <label for="sem5">Give ODD (5th) Semester SGPA : </label>
                    <input type="number" name="" id="sem5">
                </div>
                
                <div class="info">
                    <label for="sem6">Give EVEN (6th) Semester SGPA : </label>
                    <input type="number" name="" id="sem6">
                </div>
                
                <div class="info">
                    <label for="sem7">Give ODD (7th) Semester SGPA : </label>
                    <input type="number" name="" id="sem7">
                </div>
                
                <div class="info">
                    <label for="sem8">Give EVEN (8th) Semester SGPA : </label>
                    <input type="number" name="" id="sem8"">
                </div>
            </form>

            <button id="btn">Submit</button>
        </div>
    </main>

</body>
</ht6l>