.section__title {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#heading{
    color: #fff;
}

@media (min-width:310px){
    .section__title .logo{
        height: 3rem;
        width: 3rem;
    }
    #heading{
        font-size: 1.3rem;
        font-weight: 300;
    }
}

@media (min-width:650px){
    .section__title .logo{
        height: 3.9rem;
        width: 3.9rem;
    }
    #heading{
        font-size: 2rem;
    }
}

@media (min-width:1150px){
    .section__title .logo{
        height: 4.7rem;
        width: 4.7rem;
    }
    #heading{
        font-size: 2rem;
    }
}