@import url('./basicStyles.css');

h1{
    text-align: center;
    font-size: 1.7rem;
}

.section__title {
    position: relative;
    padding: 0.3em;
    min-width: 100%;
    margin-top: 1rem;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #e5e4e2;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h3{
    color: var(--aot-dark-color--);
    font-size: 1.5rem;
}

p{
    color: var(--aot-dark-color--);
    font-size: 1rem;
}

.para{
    padding: 0.7rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.info1,.info2,.info3,.info4,.info5,.info6{
    padding: 1rem;
    background-color: var(--aot-light-color--);
    border: 2px solid var(--aot-dark-color--);
    border-radius: 5px;
}

.pdf-ch1{
    padding: 1rem;
    font-style: italic;
    background-color: var(--aot-light-color--);
}

.pdf-ch1>p{
    text-align: center;
}

.pdf-ch2{
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.pdf-ch2 a{
    text-decoration: none;
    font-weight: bold;
}