@import url('./basicStyles.css');


.page-title {
    position: relative;
    padding: 0.15em;
    min-width: 100%;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #e5e4e2;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#heading {
    text-align: center;
    color: var(--aot-dark-color--);
    font-size: 1.7rem;
}



.tbl {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    color: #fff;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    background: var(--aot-dark-color--);
}

td {
    padding: 0;
    text-align: center;
    background: var(--aot-light-color--);
    font-weight: 5px;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.para {
    grid-area: para;
    margin: 1rem;
    padding-left: 1.5rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: var(--aot-light-color--);
}

.para2 {
    grid-area: para2;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: var(--aot-light-color--);
}

p,
li {
    color: var(--aot-dark-color--);
    font-size: 1rem;
}

.info {
    display: grid;
    grid-template-areas:
        'para'
        'image';
}

.image {
    grid-area: image;
    padding: 1rem;
    border-radius: 5px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    opacity: 0.9;
}

@media (min-width:550px) {

    th {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    td {
        padding: 0;
        text-align: center;
    }

    .info {
        display: grid;
        grid-template-areas:
            'para'
            'image';
    }
}

@media (min-width:850px) {
    th {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    td {
        padding: 0;
        text-align: center;
    }

    .info {
        display: grid;
        grid-template-areas:
            'para image image';
    }

    .para {
        box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.15);
    }

    .parent {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (min-width:1150px) {
    th {
        padding-right: 6.5rem;
        padding-left: 6.5rem;
    }

    td {
        padding: 0;
        text-align: center;
    }

    .para {
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    }

    .info {
        display: grid;
        grid-template-areas:
            'para image';
    }
}