@import url('../styles/basicStyles.css');
@import url('../styles/headerStyle.css');
@import url('../styles/footerStyle.css');
/* @import url('../styles/ug-cseStyle.css'); */

body {

    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    position: relative;
}


.page-title {
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 0.15em;
    min-width: 100%;
    /* margin-top: 1rem; */
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #fff;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

.link {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    font-size: 1.2rem;
    padding: 7px 12px;
    margin: 6px;
}

nav a:hover {
    background-color: #ddd;
}

.hamburger-logo {
    position: absolute;
    top: -140px;
    right: 20px;
    z-index: 100;
    display: none;
}

.hamburger {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -220px;
    width: 220px;
    min-height: 100vh;
    /* backdrop-filter: blur(10px); */
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.hamburger ul {
    width: 100%;
    min-height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 25px;
}

.hamburger>ul>li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin-top: 5px;

}

.option {
    background-color: #ddd;
}

.hamburger>ul>li>a {
    min-width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    /* border: 1px solid red; */
}

li:hover {
    background-color: #ddd;
}

section {
    /* padding: 10px; */
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

h2 {
    color: #333;
}

.container {
    /* max-width: 960px; */
    /* max-width: 90%; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(2px); */
    background-color: var(--aot-light-color--);

    box-shadow: -10px 10px 10px #aaa2a2,
        3px 0 5px #aaa2a2;
    border-radius: 5px;
    /* padding: 10px; */
}

.container>h2 {
    width: 100%;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-color: #aaa2a2;
}

.research-item {
    margin-bottom: 30px;
    /* border: 1px solid red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.research-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.research-item a {
    color: #FF0065;
}

.mark {
    border: 2px solid var(--aot-color--);
    width: 50%;
}

.research-item h3 {
    color: #333;
}

.research-item p {
    color: #666;
}



/* scroll to */
.scrollTo {
    display: none;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 2%;
    bottom: 3%;
    z-index: 10;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.293);
    transition: all 0.3s ease;
}

.scrollTo img {
    width: 60%;
}

.scrollTo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollTo:hover {
    cursor: pointer;
}

.scrollTo:active {
    scale: 1.1;
}

/* media query */
@media only screen and (max-width : 1246px) {
    .scrollTo {
        height: 35px;
        width: 35px;
        right: 1.5%;
    }
}

@media only screen and (max-width : 749px) {


    .hideOnMobile {
        display: none;
    }

    .hamburger-logo {
        display: flex;
    }

    .research-item img {
        height: 320px;
    }

    section {
        padding: 0;
    }

    .container {
        border-radius: 0;
    }

    .container h2 {
        border-radius: 0;

    }

}

@media only screen and (max-width:513px) {
    .hamburger-logo {
        top: -100px;
    }
}

@media only screen and (max-width: 441px) {
    .research-item img {
        height: 240px;
    }


    .logo {
        width: 60px;
    }

    .logo>a>img {
        width: 28px;
        height: 28px;
    }

}

@media only screen and (max-width:356px) {
    .hamburger-logo {
        top: -90px;
    }

    .logo {
        width: 45px;
    }

    .logo>a>img {
        width: 24px;
        height: 24px;
    }
}