@import url('./basicStyles.css');

main{
    margin-bottom: 3rem;
}

#heading{
    text-align: center;
    font-size: 1.7rem;
}

.section__title {
    position: relative;
    padding: 0.3em;
    min-width: 100%;
    margin-top: 1rem;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #e5e4e2;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tbl{
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

table{
    margin-left: auto;
    margin-right: auto;
}

th{
    color: #fff;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    background: var(--aot-dark-color--);
}

td{
    padding: 0;
    text-align: center;
    background: var(--aot-light-color--);
    font-weight: 5px;
}

p,li{
    color: var(--aot-dark-color--);
    font-size: 1rem;
}

@media (min-width:550px){
    th{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    td{
        padding: 0;
        text-align: center;
    }
}

@media (min-width:850px){
    th{
        padding-right: 4rem;
        padding-left: 4rem;
    }
    td{
        padding: 0;
        text-align: center;
    }
}

@media (min-width:1150px){
    th{
        padding-right: 6.5rem;
        padding-left: 6.5rem;
    }
    td{
        padding: 0;
        text-align: center;
    }
}